env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - IOS_FRAMEWORK_SCHEME="Mechanica iOS"
    - MACOS_FRAMEWORK_SCHEME="Mechanica macOS"
    - TVOS_FRAMEWORK_SCHEME="Mechanica tvOS"
    - WATCHOS_FRAMEWORK_SCHEME="Mechanica watchOS"
    - IOS_SDK=iphonesimulator11.4
    - MACOS_SDK=macosx10.13
    - TVOS_SDK=appletvsimulator11.4
    - WATCHOS_SDK=watchsimulator4.3
    - XCODE_RUN_TESTS="NO"

matrix:
  include:

    # Ubuntu Trusty 14.04: Swift Tests
    - os: linux
      dist: trusty
      sudo: required
      language: generic
      before_install:
        - sudo apt-get install clang libicu-dev libcurl4-openssl-dev wget unzip -y
        - wget https://swift.org/builds/swift-4.2-convergence/ubuntu1404/swift-4.2-CONVERGENCE/swift-4.2-CONVERGENCE-ubuntu14.04.tar.gz
        - tar zxf swift-4.2*.tar.gz && rm -rf swift-4.2*.tar.gz
        - sudo mv swift-4.2* /swift-4.2
        - echo "export PATH=/swift-4.2/usr/bin:\"\${PATH}\"" >> ~/.bashrc
        - source ~/.bashrc
      script:
        - set -o pipefail  
        - swift --version
        - swift build
        - swift test

    # # macOS: Swift Tests, CocoaPods and SwiftLint
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   before_install:
    #     - gem install cocoapods -no-rdoc --no-ri --no-document --quiet
    #     - brew outdated swiftlint || brew upgrade swiftlint
    #   before_script:
    #     - swiftlint --reporter "emoji"  
    #   script:
    #     - set -o pipefail
    #     - swiftlint version
    #     - swift --version
    #     - swift build
    #     - swift test
    #     - pod lib lint    

    # # iOS 10.3.1 (32bit)
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=10.3.1,name=iPhone 5" SCHEME="$IOS_FRAMEWORK_SCHEME" SDK="$IOS_SDK" XCODE_RUN_TESTS="YES" CODECOV_FLAG="ios10-32bit"   

    # # iOS 10.3.1
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=10.3.1,name=iPhone 7 Plus" SCHEME="$IOS_FRAMEWORK_SCHEME" SDK="$IOS_SDK" XCODE_RUN_TESTS="YES" CODECOV_FLAG="ios10"      

    # # iOS watchOS 3.2
    # - os: osx
    #   osx_image: xcode9.3
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=3.2,name=Apple Watch - 42mm" SCHEME="$WATCHOS_FRAMEWORK_SCHEME" SDK="$WATCHOS_SDK" XCODE_RUN_TESTS="NO" CODECOV_FLAG="watchos3"              

    # # tvOS 10.2
    # - os: osx
    #   osx_image: xcode9.3
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=10.2,name=Apple TV 1080p" SCHEME="$TVOS_FRAMEWORK_SCHEME" SDK="appletvsimulator11.3" XCODE_RUN_TESTS="YES" CODECOV_FLAG="tvos10" 

    # # iOS 11.4
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=11.4,name=iPhone X" SCHEME="$IOS_FRAMEWORK_SCHEME" SDK="$IOS_SDK" XCODE_RUN_TESTS="YES" CODECOV_FLAG="ios"

    # iOS 12.0
    - os: osx
      osx_image: xcode10
      language: objective-c
      env: 
        - DESTINATION="OS=12.0,name=iPhone X" SCHEME="$IOS_FRAMEWORK_SCHEME" SDK="$IOS_SDK" XCODE_RUN_TESTS="YES" CODECOV_FLAG="ios"

    # #watchOS 4.3
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=4.3,name=Apple Watch - 42mm" SCHEME="$WATCHOS_FRAMEWORK_SCHEME" SDK="$WATCHOS_SDK" XCODE_RUN_TESTS="NO" CODECOV_FLAG="watchos"

    # # tvOS 11.4
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   env: 
    #     - DESTINATION="OS=11.4,name=Apple TV 4K (at 1080p)" SCHEME="$TVOS_FRAMEWORK_SCHEME" SDK="$TVOS_SDK" XCODE_RUN_TESTS="YES" CODECOV_FLAG="tvos" 

    # # macOS
    # - os: osx
    #   osx_image: xcode10
    #   language: objective-c
    #   env: 
    #    - DESTINATION="arch=x86_64" SCHEME="$MACOS_FRAMEWORK_SCHEME" SDK="$MACOS_SDK" XCODE_RUN_TESTS="YES" CODECOV_FLAG="macos"     

bundler_args: --without release_phase

script:
  - set -o pipefail  
  - swift --version

  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      xcodebuild -version;
      xcodebuild -showsdks;

      if [ "$XCODE_RUN_TESTS" == "YES" ]; then
        xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=YES ENABLE_TESTABILITY=YES build-for-testing test-without-building | xcpretty;
        bash <(curl -s https://codecov.io/bash) -J 'Mechanica' -cF "$CODECOV_FLAG";
      else
        xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
      fi

      if [ "$XCODE_RUN_TESTS" == "YES" ]; then
        xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=YES ENABLE_TESTABILITY=YES build-for-testing test-without-building | xcpretty;
      else
        xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO build | xcpretty;
      fi
    fi

after_success:
  - sleep 5      