language: objective-c
osx_image: xcode8.3
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  #- WORKSPACE=Mechanica.xcworkspace
  - IOS_FRAMEWORK_SCHEME="Mechanica iOS"
  - MACOS_FRAMEWORK_SCHEME="Mechanica macOS"
  - TVOS_FRAMEWORK_SCHEME="Mechanica tvOS"
  - WATCHOS_FRAMEWORK_SCHEME="Mechanica watchOS"
  - IOS_SDK=iphonesimulator10.3
  - MACOS_SDK=macosx10.12
  - TVOS_SDK=appletvsimulator10.2
  - WATCHOS_SDK=watchsimulator3.2
  #- EXAMPLE_SCHEME="Mechanica Example"
  matrix:
    # disable running watchos until https://github.com/travis-ci/travis-ci/issues/7580 is fixed
    #- DESTINATION="OS=3.2,name=Apple Watch - 42mm" SCHEME="$WATCHOS_FRAMEWORK_SCHEME" SDK="$WATCHOS_SDK" RUN_TESTS="NO"  BUILD_EXAMPLE="NO" POD_LINT="NO"  CODECOV_FLAG="watchos"

    - DESTINATION="OS=10.3,name=iPhone 7 Plus"     SCHEME="$IOS_FRAMEWORK_SCHEME"     SDK="$IOS_SDK"     RUN_TESTS="YES" BUILD_EXAMPLE="NO" POD_LINT="YES"  CODECOV_FLAG="ios"

    - DESTINATION="OS=10.2,name=Apple TV 1080p"    SCHEME="$TVOS_FRAMEWORK_SCHEME"    SDK="$TVOS_SDK"    RUN_TESTS="YES" BUILD_EXAMPLE="NO" POD_LINT="NO"  CODECOV_FLAG="tvos"

    - DESTINATION="arch=x86_64"                    SCHEME="$MACOS_FRAMEWORK_SCHEME"   SDK="$MACOS_SDK"   RUN_TESTS="YES" BUILD_EXAMPLE="NO" POD_LINT="NO"  CODECOV_FLAG="macos"
before_install:
  - gem install cocoapods --pre --no-rdoc --no-ri --no-document --quiet
install:
  #fix issues https://github.com/travis-ci/travis-ci/issues/7580 
  - rm -rf ~/Library/Developer/CoreSimulator
  - sudo killall -9 com.apple.CoreSimulator.CoreSimulatorService  
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - swift --version

  # Build Framework in Debug and Run Tests if specified
  - if [ $RUN_TESTS == "YES" ]; then
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=YES ENABLE_TESTABILITY=YES test | xcpretty;
      bash <(curl -s https://codecov.io/bash) -J 'Mechanica' -cF "$CODECOV_FLAG"
    else
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
    fi

  # Build Framework in Release and Run Tests if specified
  - if [ $RUN_TESTS == "YES" ]; then
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES test | xcpretty;
    else
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO build | xcpretty;
    fi

  # Run `pod lib lint` if specified
  - if [ $POD_LINT == "YES" ]; then
      pod lib lint;
    fi

after_success:
  - sleep 5