language: objective-c
osx_image: xcode9
env:
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  - IOS_FRAMEWORK_SCHEME="Mechanica iOS"
  - MACOS_FRAMEWORK_SCHEME="Mechanica macOS"
  - TVOS_FRAMEWORK_SCHEME="Mechanica tvOS"
  - WATCHOS_FRAMEWORK_SCHEME="Mechanica watchOS"
  - IOS_SDK=iphonesimulator11.0
  - MACOS_SDK=macosx10.13
  - TVOS_SDK=appletvsimulator11.0
  - WATCHOS_SDK=watchsimulator4.0
  #- WORKSPACE=Mechanica.xcworkspace
  #- EXAMPLE_SCHEME="Mechanica Example"
  
  matrix:
    - DESTINATION="OS=10.3.1,name=iPhone 5"         SCHEME="$IOS_FRAMEWORK_SCHEME"     SDK="$IOS_SDK"     RUN_TESTS="YES"   POD_LINT="YES"  CODECOV_FLAG="ios10-32bit"
    - DESTINATION="OS=10.3.1,name=iPhone 7 Plus"    SCHEME="$IOS_FRAMEWORK_SCHEME"     SDK="$IOS_SDK"     RUN_TESTS="YES"   POD_LINT="NO"   CODECOV_FLAG="ios10"
    - DESTINATION="OS=3.2,name=Apple Watch - 42mm"  SCHEME="$WATCHOS_FRAMEWORK_SCHEME" SDK="$WATCHOS_SDK" RUN_TESTS="NO"    POD_LINT="NO"   CODECOV_FLAG="watchos3"
    - DESTINATION="OS=10.2,name=Apple TV 1080p"     SCHEME="$TVOS_FRAMEWORK_SCHEME"    SDK="$TVOS_SDK"    RUN_TESTS="YES"   POD_LINT="NO"   CODECOV_FLAG="tvos10"
    - DESTINATION="arch=x86_64"                     SCHEME="$MACOS_FRAMEWORK_SCHEME"   SDK="$MACOS_SDK"   RUN_TESTS="YES"   POD_LINT="NO"   CODECOV_FLAG="macos10_12"

    - DESTINATION="OS=11.0,name=iPhone X"           SCHEME="$IOS_FRAMEWORK_SCHEME"      SDK="$IOS_SDK"      RUN_TESTS="YES"   POD_LINT="YES"   CODECOV_FLAG="ios"
    - DESTINATION="OS=4.0,name=Apple Watch - 42mm"  SCHEME="$WATCHOS_FRAMEWORK_SCHEME"  SDK="$WATCHOS_SDK"  RUN_TESTS="NO"    POD_LINT="NO"    CODECOV_FLAG="watchos"
    - DESTINATION="OS=11.0,name=Apple TV 1080p"     SCHEME="$TVOS_FRAMEWORK_SCHEME"     SDK="$TVOS_SDK"     RUN_TESTS="YES"   POD_LINT="NO"    CODECOV_FLAG="tvos"
    - DESTINATION="arch=x86_64"                     SCHEME="$MACOS_FRAMEWORK_SCHEME"    SDK="$MACOS_SDK"    RUN_TESTS="YES"   POD_LINT="NO"    CODECOV_FLAG="macos"

# skip release group defined in Gemfile
bundler_args: --without release

before_install:
  - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
  - brew install swiftlint
  # fix for watchOS until https://github.com/travis-ci/travis-ci/issues/7580 is fixed
  # - xcrun simctl delete 38C891AB-EC79-43E4-9311-6FDEB12DCF11 || true

before_script:
  - swiftlint --reporter "emoji"

script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - swift --version

  # Build Framework in Debug and Run Tests if specified
  - if [ $RUN_TESTS == "YES" ]; then
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=YES ENABLE_TESTABILITY=YES build-for-testing test-without-building | xcpretty;
      bash <(curl -s https://codecov.io/bash) -J 'Mechanica' -cF "$CODECOV_FLAG"
    else
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
    fi

  # Build Framework in Release and Run Tests if specified
  - if [ $RUN_TESTS == "YES" ]; then
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES build-for-testing test-without-building | xcpretty;
    else
      xcodebuild -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION" -configuration Release ONLY_ACTIVE_ARCH=NO build | xcpretty;
    fi

  # Run `pod lib lint` if specified
  - if [ $POD_LINT == "YES" ]; then
      pod lib lint;
    fi

after_success:
  - sleep 5