<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataItem</key>
	<data></data>
	<key>URLItem2</key>
	<string>tinrobots.org</string>
	<key>WrongURLItem</key>
	<string>tinrobots・org</string>
	<key>DictionaryItem</key>
	<dict>
		<key>NumberItem3</key>
		<real>11.145</real>
		<key>StringItem2</key>
		<string>Hello World 2</string>
		<key>DateItem2</key>
		<date>2016-11-16T20:43:09Z</date>
		<key>DictionaryItem2</key>
		<dict>
			<key>StringItem4</key>
			<string></string>
			<key>StringItem3</key>
			<string>Hello World 3</string>
		</dict>
		<key>BoolItem2</key>
		<false/>
		<key>NumberItem2</key>
		<real>3.141592653589793</real>
	</dict>
	<key>URLItem</key>
	<string>http://www.tinrobots.org</string>
	<key>ArrayItem</key>
	<array>
		<string>tinrobots</string>
		<true/>
		<date>2016-11-16T14:26:34Z</date>
	</array>
	<key>StringItem</key>
	<string>Hello World</string>
	<key>NumberItem</key>
	<integer>1</integer>
	<key>BoolItem</key>
	<true/>
	<key>DateItem</key>
	<date>1970-01-01T00:00:00Z</date>
</dict>
</plist>
